.favorite-btn {
    border: 2px solid white; /* Borde blanco */
    background-color: transparent;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 200px;
  }
  
  .favorite-btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente */
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .favorite-btn:active {
    transform: scale(1.2);
    transition: transform 0.2s ease;
    background-color: rgba(255, 0, 0, 0.3); /* Fondo rojo oscuro al hacer clic */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  }

  .btn-primaryx{
    color: #dd9d14;
    background-color: #e2bb0e;
    border-color: #0d6efd;
    margin-left: -90px;
    margin-bottom: -65px;
    background-color: rgb(15, 14, 14);
}

*, ::after, ::before {
    box-sizing: border-box;
    color: cornflowerblue;
}

.card-img-top{
  border-radius: 60px;
}

.img-fluid{
  border-radius: 60px;
}
  
.btn-hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 1px solid transparent; /* Agregar un borde inicialmente transparente */
  padding: 0.5em 1em;
  border-radius: 60px; /* Borde redondeado */
  
}

/* Estilo hover para el botón */
.btn-hover:hover {
  background-color: #575653; /* Color de fondo al hacer hover */
  transform: scale(1.05); /* Aumenta el tamaño del botón al hacer hover */
  border-color: #00050a; /* Cambia el color del borde al hacer hover */
  color: rgb(8, 8, 8);
}





/* home.css */

.container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card {
  border-radius: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin: 10px;
  
  
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 300px;
  overflow: hidden;
  
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
  
}

.card-body {
  text-align: center;
  
  
}

.btn-hover {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #0e0c0c; /* Color de fondo al hacer hover */
  transform: scale(1.05); /* Aumenta el tamaño del botón al hacer hover */
  border-color: #00050a; /* Cambia el color del borde al hacer hover */
  color: rgb(8, 8, 8);
}

.btn-hover:hover {
  background-color: #f4f6f8;
  color: white;
}

.favorite-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.favorite-btn:focus {
  outline: none;
}

.btnnew{
  background-color: cornflowerblue;
  
}

.btnstar{
  background-color: cornflowerblue;
}

.btnlearn{
  margin-left: -50px;
  margin-bottom: -65px
  
}
.curve{
  border-radius: 60px;
}


.ft{
  color:#0d6efd
}


.character-container {
  padding-bottom: 60px; /* Añadir espacio para el footer */
}

.row.flex-row.flex-nowrap {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
}

